@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Heebo'), local('Heebo-Regular'), url(https://fonts.gstatic.com/s/heebo/v4/NGS6v5_NC0k9P9H2TbE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}  

body {
    margin: 0px;
    font-family: 'Heebo', sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #257bfc;
}

.notification {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
}

.error {
    color: red;
    border: 2px solid red;
    background-color: lightgrey;
}

.message {
    color: green;
    border: 2px solid green;
    background-color: lightgrey;
}

.users {
    display: grid;
    grid-template-columns: 200px 200px;
}

.user {
    display: contents;
}

.userBlogCount, .username {
    display: inline-block;
}